bin export-ignore
build* export-ignore
composer.* export-ignore
docker-env export-ignore
grumphp.yml export-ignore
phpunit* export-ignore
tests/* export-ignore
features/* export-ignore
inc/a* export-ignore
inc/b* export-ignore
inc/c* export-ignore
inc/d* export-ignore
inc/h* export-ignore
inc/m* export-ignore
inc/n* export-ignore
inc/p* export-ignore
inc/s* export-ignore
inc/t* export-ignore
inc/w* export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.circleci export-ignore
.github export-ignore
.phpcs* export-ignore
.gitpod* export-ignore
README.md export-ignore
