<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" beStrictAboutTestsThatDoNotTestAnything="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <report>
      <clover outputFile="coverage/phpunit/clover.xml"/>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>
    <include>
      <file>e20r-single-use-trial.php</file>
    </include>
    <exclude>
      <directory suffix=".php">tests/</directory>
      <directory suffix=".php">tests/unittests/</directory>
      <directory suffix=".php">tests/features/</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory prefix="test_" suffix=".php">tests/unittests</directory>
    </testsuite>
    <testsuite name="features">
      <directory>tests/features</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
